@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 공통사항 */
body { overflow-x: hidden; font-family: 'Noto Sans KR', sans-serif; font-size: 1.6rem; line-height: 1.6; color: #faf9f9; }
#wrap {width: 100%; background: #f6f5f5;}
*{margin: 0; padding: 0;}

.max-height-container {
    max-height: 1450px;
    overflow: hidden;
}

ul{list-style: none;}

#main div{
    width: 1200px;
    height: 800px;
    margin: 50px auto;
    background: url("../img/main.png") no-repeat center ;
    -webkit-animation: flash 3s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    60% {
        opacity: .8;
    }
    100% {
        opacity: 1;
    }
}


#footer {
    text-align: right; padding: 100px 50px 50px 0; font-size: 1rem; color: #8f8a8a;
    background: url("../img/mainfooter.png") no-repeat center white;
    background-size: 500px;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width:1024px) and (max-width:1279px) {


    #main div {
        width: 1024px;
        height: 700px;
    }

}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {

    #main div {
        width: 768px;
        height: 500px;
    }

    #footer p {transform: translate(0, 20px) }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {

    #main div {
        width: 480px;
        height: 400px;
    }

    #footer {background-size: 400px;
        font-size: 0.8rem;
    }

    #footer p {transform: translate(0, 20px) }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {

    #main div {
        width: 375px;
        height: 300px;
    }

    #footer {
        background-size: 300px;
        font-size: 0.8rem;
    }

    #footer p {transform: translate(0, 20px) }
}
